div {
    color: white;
    padding: 0.35em 0.6em;
    border-radius: 0.25rem;
    text-align: center;
    vertical-align: middle;
    font-size: 0.75rem;
    font-weight: 500;
    display: inline-block;
}