<div class="main-container">
    <app-header></app-header>
  
  
  <div class="content-container">
    <div class="content-area">
      <div class="clr-column">
        <button class="button btn btn-primary" (click)="clearAndOpenModal()">Create new</button>
        <div class="card clickable" (click)="selectStep(step.id)" *ngFor="let step of steps">
          <div class="card-header">
            <span class="badge" [style.background-color]="step.color"></span>
            {{step.name}}
          </div>
          <div class="card-block" *ngIf="step.notes">
            <div class="card-text" >
              {{step.notes}}
            </div>
          </div>
        </div>
      </div>

      <clr-modal [(clrModalOpen)]="modalIsOpen">
        <h3 class="modal-title" *ngIf="selectedStep !== null">Edit Step</h3>
        <h3 class="modal-title" *ngIf="selectedStep === null">Add Step</h3>
      
        <div class="modal-body">
          <form class="clr-form clr-form-horizontal" [formGroup]="stepForm">
            <div class="clr-form-control">
              <label for="name" class="clr-control-label">
                <cds-icon shape="blocks-group"></cds-icon>
                Name *</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input clrInput
                  type="text"
                  name="name"
                  formControlName="name"
                  [placeholder]="selectedStep === null ? 'Take Home Assignment' : ''"
                  />
                </div>
              </div>
            </div>

            <div class="clr-form-control">
              <label for="notes" class="clr-control-label">
                <cds-icon shape="note"></cds-icon>
                Notes</label>
              <div class="clr-control-container">
                <div class="clr-textarea-wrapper">
                  <textarea
                  class="clr-textarea"
                  name="notes"
                  formControlName="notes"
                  [placeholder]="selectedStep === null ? 'A coding task given a candidate to complete on their own time' : ''"
                  ></textarea>
                </div>
              </div>
            </div>

            <div class="clr-form-control">
              <label for="color" class="clr-control-label">
                <cds-icon shape="color-palette"></cds-icon>
                Hex Color
              </label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input clrInput
                  type="text"
                  name="color"
                  formControlName="color"
                  [placeholder]="selectedStep === null ? '#8c8c8c' : ''"
                  />
                </div>
              </div>
            </div>
          
            <div class="clr-form-control">
              <label for="type" class="clr-control-label">
                <cds-icon shape="flag"></cds-icon>
                Type *
              </label>
              <div class="clr-control-container">
                <select clrSelect name="type" formControlName="type" *ngIf="selectedStep === null">
                  <option value="S">{{getStepTypeDisplayText('S')}}</option>
                  <option value="D">{{getStepTypeDisplayText('D')}}</option>
                  <option value="E">{{getStepTypeDisplayText('E')}}</option>
                </select>
                
                <input
                clrInput
                type="text"
                disabled
                *ngIf="selectedStep !== null"
                value="{{getStepTypeDisplayText()}}">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger-outline"
          (click)="deleteStep(selectedStep.id)"
          *ngIf="selectedStep != null"
          >Delete</button>
          <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
        </div>
      </clr-modal>
    </div>
  </div>
</div>