@use '../login/login.component.scss';

.subtitle {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 0.9em;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.alert-text {
    color: black !important;
}