<clr-modal
  [(clrModalOpen)]="open"
  [clrModalClosable]="!uploading"
  (clrModalOpenChange)="onModalOpenChange($event)"
>
  <h3 class="modal-title">{{ isEditMode ? "Update CV" : "Upload New CV" }}</h3>
  <div class="modal-body">
    <form class="clr-form form-grid" [formGroup]="form">
      <div class="clr-form-control">
        <clr-input-container>
          <label>CV Name *</label>
          <input
            clrInput
            type="text"
            formControlName="cvKey"
            placeholder="e.g., Tech CV v1"
          />
          <clr-control-helper
            >Give your CV a descriptive name</clr-control-helper
          >
          <clr-control-error *clrIfError="'required'"
            >CV name is required.</clr-control-error
          >
        </clr-input-container>
      </div>

      <div class="clr-form-control">
        <clr-file-input-container>
          <label>{{ isEditMode ? "New CV File (optional)" : "CV File *" }}</label>
          <input
            type="file"
            formControlName="cvFile"
            clrFileInput
            accept=".pdf,.doc,.docx"
          />
          <clr-control-helper>{{
            isEditMode
              ? "Leave empty to keep current file"
              : "PDF, DOC, DOCX (max 1MB)"
          }}</clr-control-helper>
          <clr-control-error *clrIfError="'invalidFile'">{{ form.get('cvFile')?.errors?.['invalidFile'] }}</clr-control-error>
        </clr-file-input-container>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <clr-spinner
      *ngIf="uploading"
      [clrMedium]="true"
      [clrInline]="true"
      [clrInverse]="true"
    ></clr-spinner>
    <button
      type="button"
      class="btn btn-outline"
      (click)="close()"
      [disabled]="uploading"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="submit()"
      [disabled]="uploading"
    >
      {{ isEditMode ? "Update CV" : "Upload CV" }}
    </button>
  </div>
</clr-modal>
