<div class="main-container">
    <div *ngIf="loading"  style="font-size: 1px" class="progress loop"><progress></progress></div>

    <div id="container" *ngIf="!loading">
        <div class="clr-row">
            <div class="card">
                <h3 class="card-header">#Job Applications</h3>
                <div class="card-block" style="display: flex;flex-direction:row;">
                    <span class="numeric" style="color: grey;">{{analytics.totalJobApps}}<app-badge background="grey">total</app-badge></span>
                    <span style="font-size: 2em;">/</span>
                    <span class="numeric" style="color: #db4848">{{analytics.pendingJobApps}}<app-badge background="#db4848">pending</app-badge></span>
                    <span style="font-size: 2em;">/</span>
                    <span class="numeric" style="color: green;">{{analytics.completedJobApps}}<app-badge background="green">completed</app-badge></span>
                </div>
            </div>

            <div class="card">
                <!-- Add colors to steps -->
                <h3 class="card-header">Step Breakdown</h3>
                <div class="card-block" style="display: flex;flex-direction:row;">
                    <span *ngFor="let step of analytics.stepBreakdown | keyvalue"
                        class="numeric"
                        style="margin-right:1em;"
                        [ngStyle]="{color: step.value.color}"
                    >
                            {{step.value.count}}
                            <app-badge [background]="step.value.color">{{step.key}}</app-badge>
                    </span>
                </div>
            </div>

            <div class="card">
                <h3 class="card-header">Avg. Steps per Application</h3>
                <div class="card-block" style="display: flex;flex-direction:row;">
                    <span class="numeric">{{analytics.stepsPerApp}} steps/app</span>
                </div>
            </div>

            <div class="card">
                <h3 class="card-header">Avg. Time Difference across Steps</h3>
                <div class="card-block" style="display: flex;flex-direction:row;">
                    <span
                        *ngFor="let step of analytics.timeBetweenSteps | keyvalue"
                        class="numeric"
                        style="margin-right:1em;"
                    >
                        {{step.value}}
                        <app-badge>{{step.key}}</app-badge>
                    </span>
                    <span
                        class="numeric"
                        style="margin-left: 1em;"
                    >
                        {{analytics.nonRelevantDates}}
                        <app-badge background="#aaa">non-relevant dates</app-badge>
                    </span>
                </div>
            </div>

            <div class="card">
                <h3 class="card-header">'Applied Through' Breakdown</h3>
                <div class="card-block" style="display: flex;flex-direction:row;">
                    <span *ngFor="let step of analytics.appliedThrough | keyvalue"
                        class="numeric"
                        style="margin-right:1em;"
                    >
                            {{step.value}}
                            <app-badge>{{step.key}}</app-badge>
                    </span>
                </div>
            </div>

            <div class="card">
                <h3 class="card-header">Avg. Time to Completion</h3>
                <div class="card-block" style="display: flex;flex-direction:row;">
                    <span
                        *ngFor="let step of analytics.timeToCompletion | keyvalue"
                        class="numeric"
                        style="margin-right:1em;"
                    >
                        {{step.value}}
                        <app-badge>{{step.key}}</app-badge>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>