<div class="main-container">
    <app-header></app-header>


    <div class="content-container">
        <app-job-nav
            [applications]="applications"
            (onSelectApp)="selectApp($event)"
            (onOpenAndClearJobAppModal)="openAndClearJobAppModal()"
        >
        </app-job-nav>
    
        <div class="content-area">
            <h6 *ngIf="selectedApp == null">
                Please select an application from the menu on the left.
            </h6>

            <div class="clr-column" *ngIf="selectedApp != null">
                <h4>Job Application</h4>
                <div class="card">
                    <div class="card-header">
                        {{selectedApp.company}} - {{selectedApp.location}}
                        <span class="badge" style="font-size: .7em;float:right">{{selectedApp.date | date}}</span>
                        <span class="badge badge-light-blue" style="font-size: .7em;float:right">{{selectedApp.status}}</span>
                    </div>
                    <div class="card-block">
                        <div class="card-title">
                            {{selectedApp.role}}
                        </div>
                        <div class="card-text">
                        {{selectedApp.notes}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-link" (click)="openJobAppModal()">Edit</button>
                    </div>
            </div>

            <h4>Timeline</h4>

            <ul class="clr-timeline clr-timeline-vertical">
                <li class="clr-timeline-step" *ngFor="let tl of selectedAppTimeline">
                    <div class="clr-timeline-step-header">{{tl.date | date}}</div>
                    <cds-icon shape="circle" [style.color]="tl.step.color"></cds-icon>
                    <div class="clr-timeline-step-body"  (click)="openEditTimelineModal(tl.id)">
                        <div class="clr-timeline-step-title">{{tl.step.name}}</div>
                        <div class="clr-timeline-step-description">{{tl.notes}}</div>
                    </div>
                </li>
            </ul>

            <button
            class="btn btn-success"
            style="margin-top: 2em;"
            [disabled]="selectedApp.status == 'FINISHED'"
            (click)="openTimelineStepModal()"
            >Add step</button>
        </div>
    </div>



    <app-job-modal
        [isOpen]="jobAppModalIsOpen"
        [application]="selectedApp"
        (onClose)="jobAppModalIsOpen = false"
        (onApplicationsNeedUpdate)="getApplications()"
    >
    </app-job-modal>

    <app-timeline-modal
        [isOpen]="timelineStepModalIsOpen"
        [timelineStep]="selectedTimelineStep"
        [application]="selectedApp"
        (onClose)="timelineStepModalIsOpen = false"
        (onApplicationNeedsUpdate)="refreshSelectedJobApp()"
        (onTimelineNeedsUpdate)="getTimeline()"
        (onAllApplicationsNeedUpdate)="getApplications()"
    >
    </app-timeline-modal>

</div>
