<div class="main-container">
    <app-header></app-header>
  
  
    <div class="content-container">
      <div class="content-area">
        <h6 *ngIf="selectedApp == null">
            Please select an application from the menu on the left.
        </h6>

        <div class="clr-column" *ngIf="selectedApp != null">
            <h4>Job Application</h4>
            <div class="card">
                <div class="card-header">
                    {{selectedApp.company}} - {{selectedApp.location}} <span class="badge" style="font-size: .7em;float:right">{{selectedApp.date}}</span>
                </div>
                <div class="card-block">
                    <div class="card-title">
                        {{selectedApp.role}}
                    </div>
                    <div class="card-text">
                    {{selectedApp.notes}}
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-link">Edit</button>
                </div>
            </div>

            <h4>Timeline</h4>
            
            <ul class="clr-timeline clr-timeline-vertical">
                <li class="clr-timeline-step" *ngFor="let tl of selectedAppTimeline">
                    <div class="clr-timeline-step-header">{{tl.date}}</div>
                    <cds-icon shape="circle" style="color:green" *ngIf="tl.step.type == 'S'"></cds-icon>
                    <cds-icon shape="circle" *ngIf="tl.step.type == 'D'"></cds-icon>
                    <cds-icon shape="circle" style="color:red" *ngIf="tl.step.type == 'E'"></cds-icon>
                    <div class="clr-timeline-step-body">
                        <span class="clr-timeline-step-title">{{tl.step.name}}</span>
                        <span class="clr-timeline-step-description">{{tl.notes}}</span>
                    </div>
                </li>
            </ul>

            <button class="btn btn-success" style="margin-top: 2em;" (click)="openAddStepModal()">Add step</button>
        </div>
    </div>


    <clr-vertical-nav [clrVerticalNavCollapsible]="true">
        <a clrVerticalNavLink (click)="openCreationModal()">Add New Application</a>
        <clr-vertical-nav-group *ngFor="let group of applications | keyvalue">
            {{group.key}} <span class="badge" style="margin-left: .5em;">{{$any(group).value.length}}</span>
            <clr-vertical-nav-group-children *ngFor="let app of $any(group).value">
                <a clrVerticalNavLink (click)="selectApp(group.key,app.id)">{{app.company}} // {{app.role}}</a>
            </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
    </clr-vertical-nav>


    <clr-modal [(clrModalOpen)]="creationModalIsOpen">
        <h3 class="modal-title" >Add Job Application</h3>
      
        <div class="modal-body">
          <form class="clr-form clr-form-horizontal" [formGroup]="jobAppForm">
            <div class="clr-form-control">
                <label for="company" class="clr-control-label">Company</label>
                <div class="clr-control-container">
                    <div class="clr-input-wrapper">
                        <input clrInput
                        type="text"
                        name="company"
                        formControlName="company"
                        />
                    </div>
                </div>
            </div>

            <div class="clr-form-control">
                <label for="role" class="clr-control-label">Role</label>
                <div class="clr-control-container">
                    <div class="clr-textarea-wrapper">
                        <input clrInput
                        type="text"
                        name="role"
                        formControlName="role"
                        />
                    </div>
                </div>
            </div>

            <div class="clr-form-control">
                <label for="location" class="clr-control-label">Location</label>
                <div class="clr-control-container">
                    <div class="clr-textarea-wrapper">
                        <input clrInput
                        type="text"
                        name="location"
                        formControlName="location"
                        />
                    </div>
                </div>
            </div>

            <div class="clr-form-control">
                <label for="notes" class="clr-control-label">Notes</label>
                <div class="clr-control-container">
                    <div class="clr-textarea-wrapper">
                        <textarea
                        class="clr-textarea"
                        name="notes"
                        formControlName="notes"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="clr-form-control">
                <label for="date" class="clr-control-label">Date</label>
                <clr-date-container>
                    <input clrDate type="date" name="date" formControlName="date"/>
                </clr-date-container>
            </div>

            <div class="clr-form-control">
                <label for="group" class="clr-control-label">Group</label>
                <select clrSelect name="group" formControlName="group">
                    <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                </select>
            </div>

            <div class="clr-form-control">
                <label for="currentStep" class="clr-control-label">Initial Step</label>
                <select clrSelect name="currentStep" formControlName="currentStep">
                    <option *ngFor="let step of initialSteps" [value]="step.id">{{step.name}}</option>
                </select>
            </div>
          </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="closeCreationModal()">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="submitCreationForm()">Submit</button>
        </div>
    </clr-modal>

    <clr-modal [(clrModalOpen)]="addStepModalIsOpen">
        <h3 class="modal-title" >Add Step</h3>
      
        <div class="modal-body">
          <form class="clr-form clr-form-horizontal" [formGroup]="addStepForm">
            <div class="clr-form-control">
                <label for="step" class="clr-control-label">Step</label>
                <select clrSelect name="step" formControlName="step">
                    <option *ngFor="let step of nonStartingSteps" [value]="step.id">{{step.name}}</option>
                </select>
            </div>

            <div class="clr-form-control">
                <label for="notes" class="clr-control-label">Notes</label>
                <div class="clr-control-container">
                    <div class="clr-textarea-wrapper">
                        <textarea
                        class="clr-textarea"
                        name="notes"
                        formControlName="notes"
                        ></textarea>
                    </div>
                </div>
            </div>

            <div class="clr-form-control">
                <label for="date" class="clr-control-label">Date</label>
                <clr-date-container>
                    <input clrDate type="date" name="date" formControlName="date"/>
                </clr-date-container>
            </div>
          </form>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="closeCreationModal()">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="submitStepAdditionForm()">Submit</button>
        </div>
    </clr-modal>
</div>