environment       = ""
region            = ""
jam-ami           = ""
db-host           = ""
db-name           = ""
db-user           = ""
db-password       = ""
secret-key        = ""
jam-instance-type = ""
