<div class="main-container">
    <app-header></app-header>
  
    <div class="login-wrapper">
      <form clrForm class="login" [formGroup]="form">
          <section class="title">
            <h3 class="welcome">Welcome to JAM!</h3>
          </section>
          <div class="login-group">
            <clr-input-container>
              <label>Username</label>
              <input clrInput  name="username" type="text" placeholder="JohnDoe" formControlName="username"/>
              <clr-control-error>Make sure your username is filled in properly</clr-control-error>
            </clr-input-container>
  
            <clr-password-container>
              <label>Password</label>
              <input clrPassword placeholder="Password" name="password1" formControlName="password1"/>
              <clr-control-error>Make sure your password is filled in properly</clr-control-error>
            </clr-password-container>
  
            <clr-password-container>
                <label>Confirm Password</label>
                <input clrPassword placeholder="Password" name="password2" formControlName="password2"/>
                <clr-control-error>Make sure your password is filled in properly</clr-control-error>
                <div *ngIf="form.errors?.['notSame']">Make sure your passwords match</div>
            </clr-password-container>
<!-- 
            <div class="alert alert-success" role="alert" *ngIf="registered">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
                    </div>
                    <span class="alert-text">
                      Registered successfully!
                    </span>
                  </div>
                </div>
            </div>

            <div class="alert alert-danger" role="alert" *ngIf="registered == false">
                <div class="alert-items">
                  <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                      <cds-icon class="alert-icon" shape="error-standard"></cds-icon>
                    </div>
                    <span class="alert-text">
                      Could not register.
                    </span>
                  </div>
                </div>
            </div> -->

            <clr-spinner *ngIf="loading" [clrInline]="true" [clrInverse]="true"></clr-spinner>
            <button
            class="btn btn-primary"
            type="submit"
            (click)="register()"
            [class.disabled]="loading"
            >  
              REGISTER
            </button>
        </div>
      </form>
    </div>
  </div>