<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="false">
    <h3 class="modal-title" *ngIf="timelineStep === null">Add Step</h3>
    <h3 class="modal-title" *ngIf="timelineStep !== null">Edit Step</h3>
  
    <div class="modal-body">
      <form class="clr-form clr-form-horizontal" [formGroup]="timelineStepForm">
        <div class="clr-form-control">
            <label for="step" class="clr-control-label">
                <cds-icon shape="node"></cds-icon>
                Step *
            </label>
            <select clrSelect name="step" formControlName="step" *ngIf="timelineStep === null">
                <option *ngFor="let step of nonInitialSteps" [value]="step.id">{{step.name}}</option>
            </select>

            <input
            clrInput
            type="text"
            disabled
            *ngIf="timelineStep !== null"
            value="{{timelineStep.step.name}}"
            >
        </div>

        <div class="clr-form-control">
            <label for="notes" class="clr-control-label">
                <cds-icon shape="note"></cds-icon>
                Notes</label>
            <div class="clr-control-container">
                <div class="clr-textarea-wrapper">
                    <textarea
                    class="clr-textarea"
                    name="notes"
                    formControlName="notes"
                    [placeholder]="timelineStep === null ? 'Had xyz interview with Mr. ABC, was asked about DEF. Went well.' : ''"
                    ></textarea>
                </div>
            </div>
        </div>

        <div class="clr-form-control">
            <label for="date" class="clr-control-label">
                <cds-icon shape="calendar"></cds-icon>
                Date
                <a href="..." role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                    <cds-icon shape="info-circle" size="24"></cds-icon>
                    <span class="tooltip-content">Enter a single question mark '?' if the date is not relevant for this step.</span>
                </a>
            </label>
            <clr-date-container>
                <input clrDate type="date" name="date" formControlName="date"/>
            </clr-date-container>
        </div>
      </form>
    </div>


    <div class="modal-footer">
        <clr-spinner *ngIf="loading" [clrMedium]="true" [clrInline]="true" [clrInverse]="true"></clr-spinner>
        <button type="button" class="btn btn-danger-outline"
        (click)="deleteTimelineStep()"
        *ngIf="timelineStep !== null && timelineStep.step.type !== 'S'"
        >
        Delete
        </button>
        <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="submitTimelineStepForm()">Submit</button>
    </div>
</clr-modal>