.badge {
    font-size: .7em;
    font-weight: 500;
    float:right;
    padding: .7em;
}

.empty-message {
    margin: auto;
    margin-top: 5em;
    width: 50%;
    font-size: 2em;
    color: #cccc;
    user-select: none;
    text-align: center;
}