<div class="main-container">
  <app-header></app-header>

  <div class="login-wrapper">
    <form clrForm class="login" [formGroup]="form">
        <section class="title">
          <h3 class="welcome">Welcome back to JAM!</h3>
        </section>
        <div class="login-group">
          <clr-input-container>
            <label>Username</label>
            <input
            clrInput
            name="username"
            type="text"
            placeholder="JohnDoe"
            formControlName="username"
            />
            <clr-control-error>Make sure your username is filled in properly</clr-control-error>
          </clr-input-container>

          <clr-password-container>
            <label>Password</label>
            <input
            clrPassword
            placeholder="Password"
            name="password"
            formControlName="password"
            />
            <clr-control-error>Make sure your password is filled in properly</clr-control-error>
          </clr-password-container>

          <!-- <div class="alert alert-success" role="alert" *ngIf="loggedIn">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <cds-icon class="alert-icon" shape="check-circle"></cds-icon>
                </div>
                <span class="alert-text">
                  Logged in successfully!
                </span>
              </div>
            </div>
        </div> -->

        <!-- <div class="alert alert-danger" role="alert" *ngIf="loggedIn == false">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <cds-icon class="alert-icon" shape="error-standard"></cds-icon>
                </div>
                <span class="alert-text">
                  Could not login.
                </span>
              </div>
            </div>
        </div> -->

        <div class="column" style="margin-left: auto;">
          <div class="row">
            <button
            class="btn btn-primary action"
            type="submit"
            (click)="login()"
            [disabled]="loading"
            >  
              LOG IN
            </button>
          </div>
          <div class="row">
            or <a class="nav-link" routerLinkActive="active" routerLink="/auth/register" style="margin-left: .3em">register</a>
          </div>
        </div>
      </div>
    </form>
    <img src="../../../assets/undraw_login.svg">
  </div>
</div>