<clr-modal [clrModalOpen]="isOpen" (clrModalOpenChange)="onClrModalOpenChange($event)" [clrModalClosable]="false">
  <h3 class="modal-title" *ngIf="group === null">Add Group</h3>
  <h3 class="modal-title" *ngIf="group !== null">Edit Group</h3>

  <div class="modal-body">
    <form class="clr-form form-grid" [formGroup]="groupForm">
      <div class="clr-form-control form-field-full">
        <clr-input-container>
          <label><cds-icon shape="blocks-group"></cds-icon> Name *</label>
          <input
            clrInput
            type="text"
            name="name"
            formControlName="name"
            placeholder="JH2022"
          />
          <clr-control-error>Name is required</clr-control-error>
        </clr-input-container>
      </div>

      <div class="clr-form-control form-field-full">
        <clr-textarea-container>
          <label><cds-icon shape="note"></cds-icon> Description</label>
          <textarea
            clrTextarea
            name="description"
            formControlName="description"
            placeholder="Group for 2022 job hunt as XYZ"
          ></textarea>
        </clr-textarea-container>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <clr-spinner
      *ngIf="loading"
      [clrMedium]="true"
      [clrInline]="true"
      [clrInverse]="true"
    ></clr-spinner>

    <button
      type="button"
      class="btn btn-danger-outline"
      (click)="deleteGroup()"
      *ngIf="group !== null"
    >
      Delete
    </button>
    <button type="button" class="btn btn-outline" (click)="closeModal()">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary" (click)="submitGroupForm()">
      Submit
    </button>
  </div>
</clr-modal>
