<header class="header header-3">
    <div class="branding">
        <a class="nav-link" routerLink="/">
            <div class="title jam"></div>
        </a>
    </div>
    <div class="header-nav">
        <ng-container *ngIf="isLoggedIn">
            <a class="nav-link" routerLinkActive="active" routerLink="/control-panel/applications">Applications</a>
            <a class="nav-link" routerLinkActive="active" routerLink="/control-panel/groups">Groups</a>
            <a class="nav-link" routerLinkActive="active" routerLink="/control-panel/steps">Steps</a>
            <a class="nav-link" routerLinkActive="active" routerLink="/control-panel/leads">Leads</a>
            <a class="nav-link" routerLinkActive="active" routerLink="/control-panel/analytics">Analytics</a>
        </ng-container>
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button clrDropdownTrigger class="dropdown-toggle" type="button">
                <cds-icon size="md" shape="cog"></cds-icon>
            </button> 
            <clr-dropdown-menu clrPosition="bottom-right">
                <h4 class="dropdown-header">Options</h4>
                <div *ngIf="isLoggedIn">
                    <button class="dropdown-item" (click)="logout()">Logout</button>
                </div>
                <div *ngIf="!isLoggedIn">
                    <a class="dropdown-item" routerLink="/auth/login">Login</a>
                    <a class="dropdown-item" routerLink="/auth/register">Register</a>
                </div>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>
