<header class="header header-3">
    <div class="branding">
        <a class="nav-link">
            <cds-icon shape="sad-face"></cds-icon>
            <span class="title">JAM</span>
        </a>
    </div>
    <div class="header-actions">

    <clr-dropdown>
        <button clrDropdownTrigger class="dropdown-toggle" type="button">
            <cds-icon size="md" shape="cog"></cds-icon>
        </button> 
        <clr-dropdown-menu clrPosition="bottom-right">
            <h4 class="dropdown-header">Options</h4>
            <button class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
        </clr-dropdown-menu>
    </clr-dropdown>
    </div>
</header>

<nav class="subnav">
    <ul class="nav">
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLinkActive="active" routerLink="/control-panel/applications">Applications</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link">Groups</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link">Steps</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLinkActive="active" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item"  *ngIf="!isLoggedIn">
            <a class="nav-link" routerLinkActive="active" routerLink="/auth/register">Register</a>
        </li>
    </ul>
</nav>
