<header class="header header-3">
    <div class="branding">
        <a class="nav-link">
            <cds-icon shape="sad-face"></cds-icon>
            <span class="title">JAM</span>
        </a>
    </div>
    <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon" aria-label="settings">
            <cds-icon shape="cog"></cds-icon>
        </a>
    </div>
</header>

<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/control-panel">Applications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Groups</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Steps</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" routerLinkActive="active" routerLink="/auth/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/auth/register">Register</a>
        </li>
    </ul>
</nav>
